<!doctype html>
<!-- 
    For development you can mock the backend bootstrapping the pizza5AppDev application.
    This version needs also angular-mocks and the pizza5Dev.js files. Import them below
    <html ng-app="pizza5AppDev"> 
-->
<html ng-app="pizza5App">
<head>

<!-- build:css styles/main.css -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="styles/pizza5.css" rel="stylesheet" >
<!-- endbuild -->

    <title>Pizza5 - the only thing better than HTML5</title>
</head>
<body>

<!-- NAVBAR -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Pizza5</a>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 >Pizza 3 + 2 = {{3 + 2}}</h1>

        <p>The only thing better than HTML5</p>

        <p><a class="btn btn-primary btn-lg" role="button">Sign Up</a></p>
    </div>
</div>


<!-- main content -->
<div class="container">

    <!-- using the directive order to show the cart -->
    <order></order>

    <div ng-controller="PizzaMenuCtrl as menuCtrl">
        <h3>There are {{ menuCtrl.menu.length }} pizzas in the menu</h3>

        <div ng-show="{{ menuCtrl.menuPresent }}">
          <span>Search Pizzas: </span><input name="pizzaFilter" ng-model="pizzaFilter"/>
        </div>
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4" ng-repeat="pizza in menuCtrl.menu | filter:pizzaFilter as result">
                <h2>Pizza {{pizza.name}}</h2>

                <p>{{pizza.description}}</p>

                <p>
                    <a class="btn btn-default" role="button">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        Ingredients
                    </a>
                </p>

                <img src="http://lorempizza.com/300/240/{{$index}}"/>

                <h3>{{pizza.price | currency}}</h3>
                <p>
                    <a class="btn btn-primary" role="button" ng-click="menuCtrl.addPizza(pizza)">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        Order
                    </a>
                </p>
            </div>

        </div>
    </div> <!-- end of menu controller -->

</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="centered">Powered by ABS</div>
            </div>
        </div>

    </div>
</footer>

<!-- build:js scripts/main.js -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="scripts/pizza5.js"></script>
<!-- endbuild -->

    <!--
        For development version add the two imports below up inside the build:js block
    -->
    <!--
    <script src="../bower_components/angular-mocks/angular-mocks.js" defer></script>
    <script src="scripts/pizza5Dev.js" defer></script>
    -->

</body>
</html>
